.document-form input[type="password"] {
	background:#f8f8f8;
	border:1px solid #d8d8d8;
	padding:3px;
	border-radius:2px;
}

input[type="file"] {
  margin-bottom: 10px;
}

.box-upload {
  position: relative;
  width: 100%;
  height: 100px;
  border: 3px dashed #c9c9c9;
  font-size: 20px;
  color: #c9c9c9;
}

.box-upload-hover {
  border-color: #EC971F;
}

.box-upload span {
  /*center vertically & horizontally */
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.box-upload-hover span {
  color: #EC971F;
}

.action {
  background-color: #f9f9f9;
}

.notif {
  margin-top: 20px;
}

.notif .alert {
  margin-bottom: 0px !important;
}

.alert {
  padding: 10px !important;
}

.no-margin {
  margin: 0px !important;
}

.point-right-margin {
  margin-left: 10px;
}

.point-left-adjust {
  font-weight: bold;
  width: 190px !important;
}

@media (max-width: 990px) {
  .full {
    margin-left: 20px;
  }
  .add-left-margin {
    margin: 0px;
  }
}



.left-right {
  display:inline-block;
  width:100%;
}

.content-column ul,
.row-1 ul,
.row-2,
.row-3,
.detail-overview-point-left,
.detail-overview-point-right,
.notification,
.disposition-content,
.disposition-attachment,
.disposition-info ul,
.respond-title,
.respond-option,
.detail-document-form,
.alert,
.content-search .button,
.content-advanced,
.content-state {
  font-size: 12px !important;
}

.no-padding {
  padding: 0px;
}

/*comma-list */
.comma-list {
  padding-left: 0px;
  list-style: none;
}

.comma-list li {
  display: inline;
  padding: 0px !important;
}

.comma-list li:after {
  content: ", ";
}

.comma-list li:last-child:after {
  content: "";
}
/*comma-list */

.disposition-content h1 {
  font-size: 30px;
}

.disposition-content h2 {
  font-size: 24px;
}

.disposition-content h3 {
  font-size: 20px;
}

.disposition-content h4 {
  font-size: 16px;
}

.disposition-content h5 {
  font-size: 14px;
}

.disposition-content h6 {
  font-size: 12px;
  font-weight: bold;
}

.disposition-content p {
  font-size: 12px;
}

.shade-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.45);
}

.shade-screen img {
   /*center vertically & horizontally */
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.notification-button {
  padding-bottom: 0px !important;
}

.notification-button .btn {
  min-width: 90px;
}

.content-notif {
  margin-left: 30px;
  margin-right: 30px;
}

.content-notif .alert:first-child {
  margin-top: 15px;
}

.content-notif .alert {
  margin-bottom: 0px;
}

.detail-overview {
  border-bottom: none;
}

.disposition-divider {
  height: 15px;
}

.forget-pass {
  float: right;
  margin-bottom: 10px;
}

.copyright {
  font-size: 11px !important;
}

.navbar {
  margin-bottom: 10px !important;
  min-height: 0px !important;
}

.detail-document-form .pagination {
  margin: 0px !important;
}

.custom-table {
  margin-bottom: 0px !important;
  width: 50%;
}

.custom-table thead tr th {
  vertical-align: top;
  padding-top: 0px !important;
}

.label-big {
  font-size: 11px;
}

.content-search, 
.content-state {
  margin: 30px 30px 15px 30px;
  border-bottom: 1px solid #ccc;
}

.content-search .button {
  margin: 15px 0px;
  text-align: right;
}

.content-advanced {
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  border-top: 1px solid #ccc;
}

.table-notif {
  font-size: 12px;
  margin-top: 15px;
}

.table-notif thead tr th {
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
}

.table-notif tbody tr {
  cursor: pointer;
}

.content-column .comma-list {
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: none;
  text-transform: none;
  margin-bottom: 0px;
}

.hover tbody:hover {
  background-color: #f5f5f5;
}

.hover tbody {
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
}

.separate tbody tr td{
  border-top: 1px solid #BDBDBD;
}

.separate tbody {
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
}

.glyphicon-fire {
  color: #D50000;
  font-size: 14px;
}

.detail-content {
  display: -webkit-box;
  font-size: 12px;
  margin: 10px 10px -10px 10px;
}

.detail-content .left {
  border-right: 1px solid #ccc;
}

.bold-head {
  font-weight: bold;
}

.content-sort {
  font-size: 12px;
  margin: 15px 30px 30px 30px;
  border-bottom: 1px solid #ccc;
}

.table-sort {
  width: 500px;
  margin-bottom: 5px;
}

.content-title .search input.form-control {
  border: 1px solid #D8D8D8;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 17.15px;
  height: inherit;
}

.content-disp,
.content-disp-bottom, 
.content-log-bottom {
  border: 1px solid #333;
  width: 100%;
  border-collapse: collapse;
  font-size: 11pt;
  font-family: Calibri;
  margin-bottom: 0px;
}

.content-disp tr td,
.break tr td  {
  border-top: 1px solid #333 !important;
  padding: 0px 10px !important;
}

.content-disp-bottom tr td,
.content-log-bottom tr td {
  border: 1px solid #333;
  padding: 2px 10px !important;
}

.content-disp-bottom .first td {
  border-top: none !important;
}

.content-disp {
  margin: 0px;
}

.container-disp {
  width: 209mm;
  padding: 5mm;
}

.to-center,
.to-center td {
  text-align: center !important;
}

.to-vmiddle {
  vertical-align: middle !important;
}

.content-disp .merge {
  border-left: 1px solid #333 !important;
}

.content-disp .group td,
.content-log-bottom .group td {
  border-top: none !important;
}

.disp-icon {
  display: inline-block;
}

.disp-icon img {
  width: 10px;
  height: 10px;
  margin-bottom: 3px;
}

.content-disp label {
  margin-bottom: 0px;
}

.content-disp p {
  margin: 0px;
}

.addressedto.checkbox {
  margin: 0px;
}

.addressedto.checkbox > label {
  width: 100%;
}

.full-width {
  width: 100%;
}

.log-table {
  border: 1px solid #333 !important;
}

.first-divider {
  height: 42px;
}

.label {
  font-family: Verdana;
}
.content-advanced-no-border{
	border: 0px;
}
.content-search-no-margin{
	margin: 0px;
}
.content_cs{
	background-color: #F6F1EC;
}
.content_cs tr:last-child{
	border-bottom: 2px;
}
.table-notif tbody.content_cs tr {
	cursor: default;
}

.content-about {
   	padding:20px 0 10px 10px;
   	text-transform:uppercase;
   	font-weight: 700;
   	color: #000;
   	font-size: 13px;
}

.content-column ul {
	padding-top: 0;
}
