body{
	background-color: #003466;
}
div.container{
	padding: 10px 15px;
	width: auto;
	height: 100vh;
	overflow-y: hidden;
}
.container > div.jumbotron{
	height: auto;
	background-color: #023765;
	 border: 0px;
	 margin-bottom: 12px;
	 min-height: 40vh;
	 max-height: 70vh;
	font-family: verdana;
}
#Header > div{
	display: inline-block;
	vertical-align: middle;
}	
#Header{
	position: relative;
	margin-bottom: 25px;
}
#Header  .tanggal{
	color: white;
	float: right;
	position: absolute;
	right: 0px;
}
#Header{
	bottom: 0px;
}
.tanggal{
	top: 15px;
}
#Header  .tanggal .time{
	padding: 1px 11px;
}
#Header > .caption{	
	color: white;
	text-transform: uppercase;
}

.jumbotron > div.cb{
	clear:both;
	
}
.jumbotron .caption{
	text-align: center;
	padding: 5px 0px;
	background-color: #FED428;
	font-weight: bold;
	border-color: black;
    border-width:2px;	
    border-style:outset;
}
.jumbotron .list_container{
	height: 100vh;
	overflow: hidden;
	background-color: white;
	position: relative;
	border-left: solid 2px #000;
	border-right: solid 2px #000;
}

.jumbotron .list_container > div{
	position: absolute;
	padding: 0px 3px;
	width: 100%;
}
.jumbotron .list_container > div > div{
	margin-bottom: 7px;
	width: 100%;
	padding: 0 4px;
	border-color: #FCEEC3;
	border-style: solid;
	border-width: 2px;
}
.jumbotron .list_container .title{
	width: 120px;
	display: inline-block;
}
.jumbotron .list_container .value.unfinished{
	color: #00AE5E;
}
.jumbotron .list_container .value.finished{
	color: #FF3F41;
}
.jumbotron .list_container .value{
	font-weight: bold;
}
.jumbotron .col-xs-1,.jumbotron .col-xs-2,.jumbotron .col-xs-3,.jumbotron .col-xs-4{
	padding: 0 5px;
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #003466;
	z-index: 2000;
	padding: 20px 0px;
	padding-left: 18px; 
	padding-right: 18px;
}

.cerdas{
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 13px;
	font-weight: bold;
	border-right: 1px white solid; 
	border-left: 1px white solid;
}

.promo{
	text-align: center;
}

.promo-caption{
	color: white; 
	font-size: 16px; 
	margin-top: 10px;
}

.container .no-background {
	background: transparent;
	border: 0px;
}

@media (min-width: 1200px) {
	.jumbo {
		position: absolute;
		right: 0;
		top: 60px;
	}
}
